.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Checkbox */
.checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #9012FE;
  border-radius: 3px;
  color: white;
  position: relative;
  cursor: pointer;
}

.checkbox[data-checked="true"] {
  background-color: #9012FE;
}

.checkbox[data-checked="true"] + label {
  animation-name: flash;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

@keyframes flash {
    from {color: red;}
    to {color: black;}
}

.checkbox:before {
  content: '✔';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

label {
  display: inline-block;
  font-size: 20px;
  padding-left: 10px;
  vertical-align: top;
}